<% layout("layouts/boilerplate") -%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
body{
    background-color: #CBC3E3	;
}
.image-container{
    text-align: center;
}
.image-container img {
    display: inline-block; 
    max-width: 22%; 
    height: auto; 
    margin-right: 10px; 
    border:solid 1px black;
  }
  
.creator .card{
    display: inline-block;
    margin-right: 10px;
    border:solid 1px black;
    background-color:#CBC3E3 ;
    text-align: center;
    width: 405;

}
.creator .card-body{
    border:solid 1px black;

}
.logo img{
    width: 40px;
  height: auto;
  
}
.creator img{
    object-fit: contain;
    
}
.creator{
    text-align: center;
}.para {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.containers {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
   
  }
  .containers .box img{
  object-fit: cover;

    object-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    /* border: 2px solid black; */
    display: block;
  }
    </style>
</head>
<body>
    <h2><u>About:</u></h2> <hr><hr> <h5>Welcome to Kharid Lo! We're passionate about providing seamless shopping experiences.
      Our mission is to revolutionize online shopping. 
     We offer curated collections to meet your needs. Our commitment to quality ensures you get the best.
     We're more than just a business; we're a community-driven company dedicated to online business.
     Thank you for choosing Kharid Lo – we're excited to serve you!</h5>
     <hr><hr>
<div class="image-container">
    <img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659f12acaa729625a4753420_barrel-about-talk.jpg" alt="">
     <img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659f12b1da663947ff0bbaa8_barrel-about-working.jpg" alt="" >
<img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659f12a4dcafe45487980744_barrel-about-peter.jpg" alt="" >
<img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659f12a86131d32a0ff1d4cf_barrel-about-shopify-summit.jpg" alt="" >
     </div>
<br><br>
     <h2 style="text-align: center;"> <u> Creators:</u></h2>
     <br>
     
     <div class="creator">
     <div class="card" style="width: 17rem; height: 12.5rem; border: solid 1px black;">
        <img src="/image/divya2.jpg" class="card-img-top" alt="..." height="200rem" width="auto" >
        <div class="card-body">
          <h5 class="card-title">Divya Singh</h5>
          <p class="card-text">Creator,Hi I am Serving as a backend developer!

          </p>
          <a href="" class="logo"><img src="https://cdn-icons-png.flaticon.com/128/4494/4494468.png" alt=""></a>
        </div>
      </div>
      <div class="card" style="width: 17rem; height: 12.5rem; border: solid 1px black;">
        <img src="/image/deepti.jpg" class="card-img-top" alt="..." height="200rem" width="auto" >
        <div class="card-body">
          <h5 class="card-title" style=" solid 1px black;">Deepti Singhal</h5>
          <p class="card-text">Creator,Hi I am Serving as a backend developer!</p>
          <a href="" class="logo"><img src="https://cdn-icons-png.flaticon.com/128/4494/4494468.png" alt=""></a>
        </div>
      </div>
      <div class="card" style="width: 17rem; height: 12.5rem; border: solid 1px black;">
        <img src="/image/khushiabout.jpg" class="card-img-top" alt="..." height="200rem" width="auto" >
        <div class="card-body">
          <h5 class="card-title" style=" solid 1px black;">Khushi Agarwal</h5>
          <p class="card-text">Creator,Hi I am Serving as a Frontend developer!.</p>
          <a href="" class="logo"><img src="https://cdn-icons-png.flaticon.com/128/4494/4494468.png" alt=""></a>
        </div>
      </div>
     </div>
     <br>
     <hr style="border: none;
     border-top: 2px solid black;">
     <h3><u>Purpose & Values</u></h3>
     <h5>KharidLo exists to provide our clients with exceptional service and work that generates impactful results. 
        Our values below support our purpose.</h5> <br>
        <div class="para">
            <h5>Feedback Information:</h5>
        <p class="paras">We view feedback as valuable information and proactively seek it <br>
         It helps us learn, grow, and enhance performance.</p>
         <h5>Turn Setbacks Into Growth Opportunities</h5>
<p class="paras">Mistakes, losses, and missed opportunities are chances to improve. <br>
 We use lessons learned to do better the next time.</p> </div>
 
 <h5>Take the Long Term View
</h5><p>We work patiently towards worthwhile. <br> We do not take short-cuts and will always prioritize our integrity and relationships.
</p>
<h5>Be Proactive</h5>
<p>We focus on what we can influence and act with a sense of urgency. <br> We take ownership and avoid blaming others.
</p>
<hr style="border-top:3px solid black;">

<h5>How We Work</h5>
<p>We prioritize close collaboration with our clients and ensure every project exceeds expectations.</p>

  <div class="containers">
    <div class="box"><img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659ef7734855c4e71e7ddff4_01%20Discover-p-500.jpg" alt=""></div>
    <div class="box"><img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659ef77b64d7c5c91222ccb1_02%20Design-p-500.jpg" alt=""></div>
    <div class="box"><img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659ef78aac10bb9ba4ac03ce_03%20Develop-p-500.jpg" alt=""></div>
    <div class="box"><img src="https://assets-global.website-files.com/64a8329f0200796d9bea1ec9/659ef792fa8df680f3960ff0_04%20Deploy-p-500.jpg" alt=""></div>
  </div>





</body>
</html>